<header class="navbar navbar-expand navbar-dark sticky-top flex-column flex-md-row mr-navbar">
  <a aria-label="我的博客" class="navbar-brand mr-0 mr-md-4" href="{{ site.my-blog }}">
    {%- include icons/mrzhqiang.svg width="48" height="48" class="d-block" alt="Logo" -%}
  </a>

  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link {% if page.layout == 'note' %}active{% endif %}"
         href="{{ site.baseurl }}/notes">
        <i class="fas fa-book mr-2"></i>攻略
      </a>
    </li>
  </ul>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item dropdown">
      <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle mr-md-2"
         data-toggle="dropdown" href="#" id="mr-versions">
        关于
      </a>
      <div aria-labelledby="mr-versions" class="dropdown-menu dropdown-menu-right">
        {% for item in site.data.about %}
        <a class="dropdown-item" href="{{ item.link }}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </li>

    <li class="nav-item">
      <a aria-label="GitHub" class="nav-link p-2" href="{{ site.repo }}" rel="noopener"
         target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </li>
  </ul>
</header>
